<app-navbar></app-navbar>

<mat-grid-list cols="5">
  <mat-grid-tile *ngFor="let pokemon of pokeList">
    <app-card [info]="pokemon"></app-card>
  </mat-grid-tile>
</mat-grid-list>
<div class="btns">
  <div class="example-button-row">
    <button [disabled] = "page == 0" mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon" (click)="prevPage()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-fab matTooltip="Warn" color="warn" aria-label="Example fab with a heart icon" (click)="nextPage()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>

</div>



